<div class="about">
  <p>Bon Voyage is a creative experience. Each piece is a journey to another world.</p>

  <p>Patrick Bon Rodriguez is a Chicago born Filipino-American. He is an artist, storyteller, web developer, and friend. You can be friends with him too, I bet.</p>
</div>