<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Patrick,</h1>
    <p>
      <%= @client[:name] %> has contacted you about your work in <%= Work.find(@client[:work_type]).name %>. They wrote the following message:
    </p>
    <p>
      "<%= @client[:message] %>"
    </p>
    <p>
      Their e-mail address is: <%= @client[:email] %>
    </p>
    <br>
    <p>
      Love,
    </p>
    <p>
      Yourself
    </p>
  </body>
</html>