<h3>SquadGoals</h3>

<p>SquadGoals is a social media app designed to connect users with similar goals, encouraging each user to help one another complete their goals.</p>

<h3>Fillypedia</h3>

<p>Fillypedia is a fun wiki about horses.</p>