/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: #efeeea;
}

.nav-bar {
	/*background-color: #c1e2ff;*/
}

.nav-bar nav {
	align-content: center;
	padding-bottom: 45px;
}

.nav-container {
	display: flex;
	padding-top: 65px;
	padding-left: 200px;
	padding-right: 300px;
	list-style-type: none;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
}

.nav-container #logo {
	display: flex;
}

.nav-container .nav-links {
	display: flex;
}

.nav-container .nav-links li {
	margin-left: 30px;
}

.nav-container .nav-links li a:link {
	text-decoration: none;
	color: #63819b;
}

.nav-container .nav-links li a:visited {
	text-decoration: none;
	color: #63819b;
}

.page-wrapper {
}

.works {
	display: flex;
	list-style-type: none;
}

.works li {
	display: inline-block;
	padding-left: 30px;
	font-size: 40px;
	text-align: center;
}

@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}