@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #efeeea;
}

.nav-bar {
}

.nav-bar nav {
	align-content: center;
	padding-bottom: 45px;
}

.nav-container {
	display: flex;
	padding-top: 65px;
	padding-left: 200px;
	padding-right: 300px;
	list-style-type: none;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
}

.nav-container #logo {
	display: flex;
}

.nav-container .nav-links {
	display: flex;
}

.nav-container .nav-links li {
	margin-left: 30px;
}

.nav-container .nav-links li a:link {
	text-decoration: none;
	color: #63819b;
}

.nav-container .nav-links li a:visited {
	text-decoration: none;
	color: #63819b;
}

.page-wrapper {
}

.works-index {
	margin-top: 40px;
	text-align: center;
}

.works-index .works {
	list-style-type: none;
	display: table;
	margin-left: auto;
	margin-right: auto;
  padding-right: 90px;
}

.works-index .works li {
	font-size: 40px;
	display: inline-block;
	margin-left: 50px;
}

@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}