<span class="dropdown show">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= link_to 'Work', '#' %> <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href=<%= work_path(1) %>>Web</a></li>
    <li><a class="dropdown-item" href=<%= work_path(2) %>>Art</a></li>
  </ul>
</span>